/* src/style.css */
@import "tailwindcss";

/* Konfigurasi untuk dark mode berbasis class */
@custom-variant dark (&:where(.dark, .dark *));

/* Konfigurasi Font dengan CSS-First Tailwind (Ganti tailwind.config.js)
   @theme akan memperluas (extend) tema default Tailwind.
*/
@theme {
  /* 1. Roboto SEBAGAI FONT DEFAULT (font-sans) */
  --font-sans: 'Lato', ui-sans-serif, system-ui, sans-serif;

  /* 2. Oswald SEBAGAI FONT JUDUL (font-display) */
  --font-display: 'Oswald', sans-serif;
}

/* Opsi: Terapkan Roboto secara global */
/* body {
  font-family: var(--font-sans);
} */

:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}